# top-most EditorConfig file
root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# Markdown files (don’t strip trailing spaces, they can be meaningful)
[*.md]
trim_trailing_whitespace = false

# YAML files (indent with 2 spaces)
[*.yml]
indent_size = 2

[*.yaml]
indent_size = 2

# JSON files (indent with 2 spaces)
[*.json]
indent_size = 2
